<div id="me-on-video" style="height:128px;width:128px;border:5px solid purple;">
</div>
<div id="others-on-video" style="height:128px; width:128px;border:5px solid yellow;">
</div>
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/chat.js"></script>

