<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="stylesheets/foundation.css">
<link rel="stylesheet" href="stylesheets/normalize.css">
<link rel="stylesheet" href="stylesheets/style.css">

<script type="text/javascript" src="javascripts/modernizr.js"></script>

</head>
<body>

<h1>Hey there</h1>
<%-body%>


<script type="text/javascript" src="javascripts/jquery.js"></script>
<script type="text/javascript" src="javascripts/foundation.js"></script>

</body>
</html>
