<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="/stylesheets/foundation.css">
<link rel="stylesheet" href="/stylesheets/normalize.css">
<link href='https://fonts.googleapis.com/css?family=Lato:100,400,300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/stylesheets/style.css">
<script type="text/javascript" src="/javascripts/modernizr.js"></script>

</head>
<body>

<%-body%>

<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/foundation.js"></script>
<script type="text/javascript" src="/javascripts/app.js"></script>

</body>
</html>
