<header>
  <h1><a href="/"><img src="/images/logo-pwf-01.png" alt="" class="logo" /></a></h1>
</header>
<main>
  <section class="search">
    <h3>Anything you want to listen to?</h3>
    <div class="medium-centered medium-6 columns">
      <form method="GET" action="/search">
        <input name="q" type="text" placeholder="Some awesome show I heard about from friends" value="<%= query %>"/>
      </form>
    </div>
  </section>
  <section class="current">
    <h3>Search results:</h3>
    Number of results: <%= data.total %>
    <ul>
    <% _.each(data.podcasts, function(podcast) { %>
      <li>
        <a href="/sittings/create/<%= podcast.xid %>"><%= podcast.title %></a>
      </li>
    <% }) %>
    </ul>
  </section>
</main>
